:local {
    .confusion-matrix {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        & svg {
            margin: auto;
        }
    }
    .tooltip {
        position: absolute;
        padding: 3px;
        background: white;
        border: 1px solid black;
    }
}
